<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Post</title>
    <link rel="stylesheet" href="../static/addpost.css" />
</head>
<body>
    <h1>Add Post </h1>
    <ul>
        <li><a href="/welcome">Log Out</a></li>
    </ul>

    <center>
        <form action="/addpost" method="post">
            <fieldset>
                <table border="2px">
                    <tr>
                        <td>Author Name</td>
                        <td><input type="text" name="Author_name" placeholder="Enter Author Name"></td>
                    </tr>
                    <tr>
                        <td>Blog Title</td>
                        <td><input type="text" name="Blog_title" placeholder="Enter Blog Title"></td>
                    </tr>
                    <tr>
                        <td>Blog</td>
                        <td><input type="text" name="Blog" placeholder="Enter Blog"></td>
                    </tr>
                </table>
                <input type="submit" value="submit"></td>
                <td><input type="reset" value="refresh">
            </fieldset>
        </form>
    </center>

    <div >
        <footer style="margin-top: 650px; background-color: rgb(210, 226, 241); color: black;">
            <marquee behavior="scroll" direction="left">&copy 2022 All rights reserved with Rushikesh Kadam. |Privacy
            </marquee>
        </footer>
    </div>

</body>
</html>