<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/authordetails.css" />    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Interface</title>
</head>
<body>
    <h1>Welcome To Author Interface</h1> 
   <ul>
   <li> <a href="/addpost">
     <button style="color: black; padding: 7px;background-color: rgba(234, 118, 23, 0.521);">ADD POST</button>
    </a></li>
    
    <li><a href="/viewpost">
     <button style="color: black; padding: 7px;background-color: rgb(234, 118, 23, 0.521);">VIEW POSTS</button>
    </a></li>
    </ul>

    <div >
        <footer style="margin-top: 650px; background-color: rgb(210, 226, 241); color: black;">
            <marquee behavior="scroll" direction="left">&copy 2022 All rights reserved with Rushikesh Kadam. |Privacy
            </marquee>
        </footer>
    </div>
</body>
</html>