<!DOCTYPE html>
<html lang="en">
<head>
    <title>All post</title>
    <link rel="stylesheet" href="../static/userdetails.css" />
</head>
<body><center>
    <h1>Welcome to All post </h1>
    <ul>
        <li><a href="/welcome">Log Out</a></li>
    </ul>
    <table border="2px" >
        <thead >
            <td>Author Name</td><td>Blog Title</td><td>Blog</td>
        </thead>
        {%for i in elist%}
        <tr>
            <td >{{i[0]}}</td>
            <td >{{i[1]}}</td>
            <td >{{i[2]}}</td>
            {% endfor %}

        </tr>
    </table>

    
</center>

<div >
    <footer style="margin-top: 650px; background-color: rgb(210, 226, 241); color: black;">
        <marquee behavior="scroll" direction="left">&copy 2022 All rights reserved with Rushikesh Kadam. |Privacy
        </marquee>
    </footer>
</div>
</body>
</html>