<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        User login page
    </title>
    <link rel="stylesheet" href="../static/loginuser.css" />
</head>

<body>
    <h1>Welcome to User login Page </h1>

        <ul>
            <li><a href="/">Welcome page</a><i></i>
        </ul>

    <form action="/log" method="post">
        
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email1" placeholder="Enter email Here"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password1" placeholder="Enter password Here"></td>
                </tr>

            </table>
        
        <input type="submit" value="submit">
        <input type="reset" value="refresh">
    </form>
    <div >
        <footer style="margin-top: 650px; background-color: rgb(210, 226, 241); color: black;">
            <marquee behavior="scroll" direction="left">&copy 2022 All rights reserved with Rushikesh Kadam. |Privacy
            </marquee>
        </footer>
    </div>
    
</body>

</html>