<!DOCTYPE html>
<html lang="en">

<head>
    <title>Author Registration page</title>
    <link rel="stylesheet" href="../static/registerauthor.css" />
</head>

<body>
    <h1>Welcome to Author Registration page </h1>
    <ul>
        <li><a href="/">Welcome page</a><i></i>
        <li><a href="/logina">Login page</a><i></i>
    </ul>
    <center>
        <form action="/inserta" method="post">
            <fieldset>
                <table border="1px">
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="aname" placeholder="Enter your Name"></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><input type="text" name="acity" placeholder="Enter your City"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="email" name="aemail" placeholder="Enter your Email"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="apassword" placeholder="Enter your Password"></td>
                    </tr>

                </table>
                <input type="submit" value="submit">
                <input type="reset" value="refresh">
            </fieldset>
        </form>
    </center>
    
    <div >
        <footer style="margin-top: 650px; background-color: rgb(210, 226, 241); color: black;">
            <marquee behavior="scroll" direction="left">&copy 2022 All rights reserved with Rushikesh Kadam. |Privacy
            </marquee>
        </footer>
    </div>

</body>

</html>